.cards-section {
  text-align: left;
}

.cards-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.intro-container {
  width: 100%;
  margin-bottom: 20px;
}

.card { 
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-right: 15px;
  border: 2px solid #000;
}

.card-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.card-item h4 {
  margin-top: 10px;
}


.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 15px;
}

.navbar a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
