/* Archivo de estilos para la sección Contacto (contacto.css) */
.contacto-section {
  text-align: center;
}

.contacto-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contacto-form {
  width: 48%;
}

.additional-info {
  width: 48%;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

button[type="reset"] {
  margin-top: 5px;
}

