.galeria-section {
  text-align: center;
}

.galeria-container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px; 
}

.galeria-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 2px solid #000; 
}

.galeria-section h2 {
  margin-bottom: 20px; 
}



.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
